<!DOCTYPE html>
<html>
    <head>
        <title>Marketplace Scraper</title>
        <link rel="stylesheet" href="./static/styles.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script>
            function createChart(x, y) {
                // Add linear mean regression line
                console.log('X', x);
                console.log('Y', y);
                const ctx = document.getElementById('chart');
                if (Chart.getChart(ctx)) {
                    Chart.getChart(ctx).destroy();
                }
                new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: x,
                        datasets: [{
                        label: '$ Average',
                        data: y,
                        borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                        y: {
                            beginAtZero: true,
                        }
                        }
                    },
                });
            }
            function processData(data) {
                var xAxis = [];
                var yAxis = [];
                
                // if location is not available, x-axis is locations. Else x axis is time
                //MOVE SOME CODE TO BACKEND
                if (data['location'] == 'n/a') {
                    fetch('/get_loc')
                        .then(response => response.json())
                        .then(locs => {
                            for (var i = 0; i < locs.length; i++) {
                                xAxis.push(locs[i]);
                                yAxis.push(0)
                            xAxis = Object.keys(data['avg_price_loc']);
                            yAxis = []
                            for (var i = 0; i < xAxis.length; i++) {
                                yAxis.push(data['avg_price_loc'][xAxis[i]])
                            }
                                //console.log('this data', data['avg_price_loc'])
                            }
                            createChart(xAxis, yAxis)
                    });
                }else {
                    xAxis = Object.keys(data)
                    for (var key in data) {
                        if (data.hasOwnProperty(key)) {
                            yAxis.push(0);
                            var ctr = 0;
                            for (var i = 0; i < data[key].length; i++) {
                                if (isNaN(parseInt(data[key][i][2])) == false) {
                                    yAxis[yAxis.length - 1] += parseInt(data[key][i][2]);
                                    ctr += 1;
                                }else {
                                    //console.log(data[key][i][2])
                                }
                            }
                            yAxis[yAxis.length - 1] /= ctr
                        }
                    }
                    createChart(xAxis, yAxis)
                }
            }
            function refreshData() {
                fetch('/get_data')
                    .then(response => response.json())
                    .then(data => {
                        processData(data);
                        updateVehicleOptions(data);
                });
                fetch('/get_loc')
                    .then(response => response.json())
                    .then(data => {
                        updateLocationOptions(data);
                });
            }
            refreshData();
        </script>
    </head>
    <body>
        <div class="headercontainer">
            <div class="headersectionside" style="padding-top: 30px; font-weight: bold; letter-spacing: 1px;">Keys: 100</div>
            <div class="headersection" style="padding-top: 15px;">
                <h1>
                    Marketplace Scraper
                </h1>
            </div>
            <div class="headersectionside">
                <button>
                    Log In
                </button>
            </div>
        </div>
        <br>
        <div style="text-align: center;">
            <form id="form">
                <input id='vehicleField' name="vehicle" list="vehicles" class="bigsearch" type="text" placeholder="Search">
                <br>
                <datalist id="vehicles"></datalist>
                <input id='locationField' name="location" list="locations" class="smallsearch" placeholder="Location">
                <datalist id="locations"></datalist>
                <input id='minPriceField' name="minPrice" type="text" class="smallsearch" placeholder="Price (min)">
                <input id='minMilesField' name="minMiles" type="text" class="smallsearch" placeholder="Miles (min)">
                <input id='minYearField' name="minYear" type="text" class="smallsearch" placeholder="Year (min)">
                <br>
                <input list="options" class="smallsearch" name="hiddenLocation" style="opacity: 0;" placeholder="Location">
                <input id='maxPriceField' name="maxPrice" type="text" class="smallsearch" placeholder="Price (max)">
                <input id='maxMilesField' name="maxMiles" type="text" class="smallsearch" placeholder="Miles (max)">
                <input id='maxYearField' name="maxYear" type="text" class="smallsearch" placeholder="Year (max)">
            </form>
            <p id='progressText' style="font-size: 10px;"></p>
            <script>
                const vehicleField = document.getElementById('vehicleField');
                vehicleField.addEventListener('keydown', function() {
                    if (event.keyCode === 13 || event.key === 'Enter') {
                        vehicleChoice = vehicleField.value.trim() === '' ? 'n/a' : vehicleField.value;
                        var form = document.getElementById('form');
                        var formData = new FormData(form);
                        var fetchOptions = {
                            method: 'POST',
                            body: formData,
                            headers: {
                            },
                        };
                        fetch('/get_data', fetchOptions)
                            .then(response => {
                                if (!response.ok) {
                                    throw new Error('Response Error');
                                }
                                setProgress('Loading...')
                                return response.json();
                            })
                            .then(data => {
                                processData(data);
                                updateVehicleOptions(data);
                        });
                        fetch('/get_loc')
                            .then(response => response.json())
                            .then(data => {
                                updateLocationOptions(data);
                                    })
                        
                    }
                })
                function updateVehicleOptions(data) {
                    var currentArray = data['vehicles'];

                    const datalist = document.getElementById('vehicles');
                    // remove duplicates
                    while (datalist.firstChild) {
                        datalist.removeChild(datalist.firstChild);
                    }
                    for (var i = 0; i < currentArray.length; i++) {
                        var option = document.createElement('option');
                        option.value = currentArray[i]
                        datalist.append(option)
                    }
                }
                function updateLocationOptions(data) {
                    const datalist = document.getElementById('locations');
                    while (datalist.firstChild) {
                        datalist.removeChild(datalist.firstChild);
                    }
                    for (var i = 0; i < data.length; i++) {
                        var option = document.createElement('option');
                        option.value = data[i]
                        datalist.append(option)
                    }
                }
                function setProgress(str) {document.getElementById('progressText').textContent = str;}
            </script>         
        <div style="height: 550px; display: flex; align-items: center; justify-content: center;">
            <br>
            <canvas id="chart"></canvas>
        </div>
    </body>
</html>